@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-back-color: #d57eeb;
  --primary-text-color: rgb(204, 46, 244);
  --primary-light-color: #deb0ea75;
  background-color: #818181;
}