@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-back-color: #d57eeb;
  --primary-text-color: rgb(204, 46, 244);
  --primary-light-color: #deb0ea75;
  background-color: #818181;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: "得意黑 斜体";
  font-weight: 400;
  src: url("./font/deyi/Smiley_Sans_Oblique_斜体.woff2") format("woff2");
  font-display: swap;
}